body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.appbar{
  z-index: 11;
}
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://picsum.photos/1200');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logincomponent{
  background-color: white;
  opacity: .7;
  padding: 50px;
}
.dashboard{
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
}
.menuDashboard{
  flex: 0.2;
  color: white;
  background-color: rgb(10, 38, 139);
  opacity: 0.6;
  overflow: auto;
}
.windowDashboard{
  flex: .8;
}

.appbar{
  color: black;
  padding: 10px;
}

.wrapperdashboard{
  padding: 40px;
}
.elementsdashboard{
  border: 1px solid rgba(0, 0, 0, 0.209);
  padding: 10px;
  box-shadow: 0px 0px 5px grey;
  min-height: 400px;
}